body {
    background: url("jesen_pozadie.jpg");
    background-repeat: no-repeat; /* obrazok sa nebude opakovat */
    background-size: cover;        /* velkost obrazka sa prispôsobi velkosti pozadia */
    background-attachment: fixed;   /* obrazok sa mi skrolovani nebude pohybovať */
}

#hlavny-nadpis {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(79, 209, 192);
    color: white;
    border: 5px solid #000000;
    width: 500px;
    margin: 0px auto;
    padding: 10px;
}

img {
    width: 300px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.651);
    border-radius: 15px 5px 50px 25px;
}

.nadpis-cerveny {
    color: #ff0000;
    text-decoration: underline;
}

.nadpis-zeleny-centrovany {
    color: rgb(21, 163, 116);
    text-align: center;
}

p {
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 20px;
}

a { 
    border: 5px solid black;

}

.obrazok-centrovany {
    display: block; /* zmena riadkoveho na blokovy element */
    margin: 0px auto;   /* zarovnanie do stredu */
}

.nadpis-3-uroven {
    border: 5px solid black;
    margin-bottom: 50px;
}