body {
    background-color: rgba(253, 230, 199, 0.623);
}

h1 {
    text-align: center; /* zarovnanie na stred */
    text-shadow: 2px 2px 5px rgb(79, 209, 192);
}

img {
    width: 300px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.651);
    border-radius: 15px 5px 50px 25px;
}