body {
    background: url("jesen_pozadie.jpg");
    background-repeat: no-repeat; /* obrazok sa nebude opakovat */
    background-size: cover;        /* velkost obrazka sa prispôsobi velkosti pozadia */
    background-attachment: fixed;   /* obrazok sa mi skrolovani nebude pohybovať */
}

h1 {
    text-align: center; /* zarovnanie na stred */
    text-shadow: 2px 2px 5px rgb(79, 209, 192);
    color: white;
}

img {
    width: 300px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.651);
    border-radius: 15px 5px 50px 25px;
}