<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styly.css">
    <title>Domov</title>
</head>
<body>
    <header>
        <h1>Učíme sa layout stránky</h1>
    </header>

    <main>

        <div class="obrazok-1">
            <img src="ironman.jpg" alt="Iron-man" title="iron-man">
        </div>


        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum purus justo, suscipit id ex eget, vestibulum lobortis quam. Etiam ex metus, lobortis sed sem in, aliquam accumsan eros. Aliquam erat volutpat. Morbi a bibendum mi. Proin nec neque eget sem fermentum malesuada eu at tellus. Praesent id ipsum at nulla fermentum mattis a sed quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam et nibh non metus condimentum imperdiet. Vivamus in feugiat tellus.</p>
        </div>

        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/KAE5ymVLmZg?si=gSn-QiSm8Rax-Y4f" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="clearfix"></div>

        
        <h2 class="float-left">Floatovanie</h2>
        <p>ahoj ako sa máš</p>


    </main>

    <footer>

    </footer>
    
</body>
</html>